<div class="flex items-center justify-center h-screen">
  <div class="flex rounded-lg shadow-2xl p-6">
    <form action="/auth/code" method="post">
      <input type="hidden" name="email" id="email" value={{email}} />
      <div class="mb-6">
        <label
          for="token"
          class="block mb-2 text-sm font-medium text-gray-900"
        >Insira o código enviado para sua caixa de entrada:</label>
        <input
          type="text"
          name="token"
          id="token"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="a4sd75"
          required
        />
      </div>

      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Nova Senha:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="•••••••••"
            required
          />
        </div>
        <div>
          <label
            for="password2"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Repita a Senha:</label>
          <input
            type="password"
            name="password2"
            id="password2"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="•••••••••"
            required
          />
        </div>

      </div>

      <div class="mb-6 text-left">
        <p class="text-sm font-medium text-gray-900">

          <a
            href="/auth/login"
            class="text-blue-600 hover:underline"
          >Voltar</a></p>
      </div>
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
      >Alterar Senha</button>
    </form>

  </div>

</div>