<h1>Entrar</h1>
<form action="" method="post">
  <input type="email" name="email" id="email" placeholder="E-mail" required />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Senha"
    required
  />
  <button type="submit">Entrar</button>
  <a href="/auth/recovery">Esqueceu a Senha?</a>
  Ainda não possui conta? <a href="/auth/signup">Cadastre-se</a>
</form>