<form action="" method="post">
<input type="email" name="email" id="email" placeholder="Digite seu E-mail" required>
<button type="submit">Enviar Código</button>
</form>

<a href="/auth/login"><button>voltar</button></a>