<h1>Cadastrar-se</h1>
<form action="" method="post">
  <input type="text" placeholder="Usuário" name="username" id="username" required />
  <input type="email" name="email" id="email" placeholder="E-mail" required />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Senha"
    required
  />
  <input
    type="password"
    name="password2"
    id="password2"
    placeholder="Repita sua Senha"
    required
  />
  <button type="submit">Cadastrar</button>
  Já possui uma conta? <a href="/auth/login">Entrar</a>
</form>