<footer class="h-8 border-t bg-white border-gray-300 fixed bottom-0 w-full flex items-center justify-center">
    <a href="https://github.com/jonathanoliveirarocha" class="hover:text-blue-600">&copy; Jonathan de Oliveira Rocha</a>
</footer>