<h1>Adicionar Redes Sociais</h1>
<form action="" method="post">
  <input type="text" name="instagram" id="instagram" placeholder="Instagram" />
  <input type="text" name="youtube" id="youtube" placeholder="Youtube" />
  <input type="text" name="whatsapp" id="whatsapp" placeholder="WhatsApp" />
  <input type="text" name="facebook" id="facebook" placeholder="Facebook" />
  <input type="text" name="tiktok" id="tiktok" placeholder="TikTok" />
  <input type="text" name="linkedin" id="linkedin" placeholder="LinkedIn" />
  <input type="text" name="twitter" id="twitter" placeholder="Twitter" />
  <input type="text" name="vsco" id="vsco" placeholder="VSCO" />
  <input type="text" name="kwai" id="kwai" placeholder="Kwai" />
  <input type="text" name="pinterest" id="pinterest" placeholder="Pinterest" />
  <input type="text" name="site" id="site" placeholder="Site Pessoal" />
  <button type="submit">Criar</button>
</form>

 