<div class="bg-green-800 p-4">
        <h1 class="text-white text-2xl">Linkefree!</h1>
    </div>
<a href="/auth/login"><button>Entrar</button></a>
<a href="/auth/signup"><button>Cadastrar</button></a>