<div
  class="flex pt-24 md:pt-0 pb-12 md:pb-0 md:items-center justify-center md:h-screen"
>
  <div class="flex rounded-lg shadow-2xl p-6 w-3/4">
    <form action="" method="post" class="w-full insert-page">
      <div class="grid gap-6 mb-6 md:grid-cols-3 w-full">
        <div>
          <label
            for="instagram"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Instagram:</label>
          <input
            type="text"
            name="instagram"
            id="instagram"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full block p-2.5"
            placeholder="https://www.instagram.com/usuario"
          />
        </div>
        <div>
          <label
            for="tiktok"
            class="block mb-2 text-sm font-medium text-gray-900"
          >TikTok:</label>
          <input
            type="text"
            name="tiktok"
            id="tiktok"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="https://www.tiktok.com/@usuario"
          />
        </div>
        <div>
          <label
            for="twitter"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Twitter:</label>
          <input
            type="text"
            name="twitter"
            id="twitter"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="https://twitter.com/usuario"
          />
        </div>

        <div>
          <label
            for="facebook"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Facebook:</label>
          <input
            type="text"
            name="facebook"
            id="facebook"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="https://www.facebook.com/profile.php?id=usuario"
          />
        </div>
        <div>
          <label
            for="youtube"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Youtube:</label>
          <input
            type="text"
            name="youtube"
            id="youtube"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="https://www.youtube.com/channel/usuario"
          />
        </div>
        <div>
          <label
            for="linkedin"
            class="block mb-2 text-sm font-medium text-gray-900"
          >LinkedIn:</label>
          <input
            type="text"
            name="linkedin"
            id="linkedin"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="https://www.linkedin.com/in/usuario"
          />
        </div>

        <div>
          <label
            for="vsco"
            class="block mb-2 text-sm font-medium text-gray-900"
          >VSCO:</label>
          <input
            type="text"
            name="vsco"
            id="vsco"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="https://vsco.co/usuario"
          />
        </div>
        <div>
          <label
            for="kwai"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Kwai:</label>
          <input
            type="text"
            name="kwai"
            id="kwai"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="https://www.kwai.com/@usuario"
          />
        </div>
        <div>
          <label
            for="pinterest"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Pinterest:</label>
          <input
            type="text"
            name="pinterest"
            id="pinterest"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="https://br.pinterest.com/usuario"
          />
        </div>

        <div>
          <label
            for="site"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Site Pessoal:</label>
          <input
            type="text"
            name="site"
            id="site"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="https://jonathan.com"
          />
        </div>
        <div>
          <label
            for="whatsapp"
            class="block mb-2 text-sm font-medium text-gray-900"
          >WhatsApp:</label>
          <input
            type="text"
            name="whatsapp"
            id="whatsapp"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="31983879564"
          />
        </div>
      </div>

      <div class="mb-6 text-left">
        <p class="text-sm font-medium text-gray-900">
          <a
            href="/userpage"
            class="text-blue-600 hover:underline"
          >Voltar</a></p>
      </div>
      <div class="flex justify-end w-full"><button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full lg:w-32 px-5 py-2.5 text-center"
        >Criar Página</button>

      </div>
    </form>

  </div>

</div>